<html>
<head>
  <title>Movie details</title>
  <!-- details.ejs -->
  <!-- dynamic page displaying details of an individual title -->

</head>
<body>
  <h1>IMDB ID: <%= movieID %></h1>

</body>
</html>