<!doctype html>
<html>
  <head>
    <title>OMDB API | Search</title>
  </head>
  <body>

    <h1>Search for a movie using OMDB</h1>
    <form action="/search">
      <input type="text" name="searchTerm" placeholder="Enter Search Term">
      <input type="submit">

    </form>

  </body>
</html>
